@model List<Product>

@section Header {
	<header class="bg-secondary py-5">
		<div class="container">
			<h1>Welcome to my ASP.NET Blog App</h1>
			<div class="mt-3">
				<a class="btn btn-primary" href="https://github.com/p0unter" target="_blank">
					<i class="ri-github-fill"></i> My Github Account
				</a>
			</div>
		</div>
	</header>
}

<h2>Blogs</h2>
<section class="blogs row" style="flex-wrap: wrap">
	@await Html.PartialAsync("partials/_Product", Model)
</section>