@model List<Meeting>

@foreach (var item in Model)
{
	<div class="card p-3 d-flex flex-column">
		<h2>@item.Name</h2>
		<p>@item.Description</p>
		<span class="alert alert-success p-1" role="alert" style="width: max-content !important;">
			Participants @item.NumberOfUser
		</span>
		<a class="btn btn-primary" asp-controller="Meeting" asp-action="Detail" asp-route-id="@item.Id">Details Meeting</a>
	</div>
}