@{
	ViewBag.Title = "Thanks!";
}

<a class="btn btn-outline-secondary w-25" asp-controller="Meeting" asp-action="Detail" asp-route-id="@ViewBag.idm">Back</a>
<div class="alert alert-success" role="alert">
	Thanks for joning! Your meeting participants number <b>@ViewBag.nous</b>
</div>