@{
	ViewBag.Title = "Home";
}

<div class="text-center">
	<h1>Meeting</h1>
	<h5>Apply for the meeting.</h5>
	<a class="mt-2 btn btn-outline-primary" asp-controller="Meeting" asp-action="Index">
		<i class="ri-arrow-right-line"></i> Show Now Meetings
	</a>
</div>